Click==7.0
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
Flask-S3==0.3.3
Jinja2==2.10
MarkupSafe==1.1.0
Werkzeug==0.14.1
boto3==1.9.101
botocore==1.12.101
docutils==0.14
itsdangerous==1.1.0
jmespath==0.9.4
psycopg2==2.7.7
python-dateutil==2.8.0
s3transfer==0.2.0
urllib3==1.24.1
