{% extends 'base.html' %} {% block content %}


<div class="background-image">
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <form method="POST" action="/search" enctype="multipart/form-data" autocomplete="off">
                        <input type="text" name=search id="autocomplete" class="autocomplete">
                        <input type=submit>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

<script>
    // Autocomplete functionality

    var recipe_object = JSON.parse("{{recipe_object}}".replace(/&#34;/g, '"'))

    $(document).ready(function() {
        $('input.autocomplete').autocomplete({
            data: recipe_object,
            limit: 7
        });
    });
</script>

{% endblock %}
