{% extends 'base.html' %} {% block content %}

<div class="recipe-header">
    <img class="recipe-image" src="https://s3.eu-west-2.amazonaws.com/recipe-db/static/recipe_images/{{recipe_result.image_file}}" alt="{{recipe_result.name}}">
    <h2 class="bottom-left">{%for name in recipe_result.name.split(" ")%} {{name[0].upper() + name[1:] }} {% endfor %}</h2>
    <!--<h2 class="bottom-left">{{recipe_result.name}}</h2>-->
</div>

<div class="recipe-page-info row">
    <div class="card col m8 s12">
        <div class="card-content not-last recipe-info">
            <p><span class="bold-text">SERVES</span><br>{{recipe_result.serves}}</p>
        </div>
        <div class="card-content not-last recipe-info">
            <p><span class="bold-text">DIFFICULTY</span><br> {{recipe_result.difficulty[0]|upper}}{{recipe_result.difficulty[1:] }}</p>
        </div>
        <div class="card-content recipe-info">
            <p><span class="bold-text">TIME</span><br>{{recipe_result.time}} Mins</p>
        </div>
        <hr>
        <div class="card-content not-last recipe-info">
            {% if allergy_info['is_vegetarian'] == 1 %}
            <p class="active-allergy vegetarian">VEGETARIAN</p>
            {% else %}
            <p class="inactive-allergy"><strike>VEGETARIAN</strike></p>
            {% endif %}
        </div>
        <div class="card-content not-last recipe-info">
            {% if allergy_info['is_vegan'] == 1 %}
            <p class="active-allergy vegan">VEGAN</p>
            {% else %}
            <p class="inactive-allergy"><strike>VEGAN</strike></p>
            {% endif %}
        </div>
        <div class="card-content recipe-info">
            {% if allergy_info['is_gluten_free'] == 1 %}
            <p class="active-allergy gluten-free">GLUTEN FREE</p>
            {% else %}
            <p class="inactive-allergy"><strike>GLUTEN FREE</strike></p>
            {% endif %}
        </div>
    </div>
    <div class="view-counter-container col m4 s12">
        <a class="btn view-count">{{ recipe_result.views }}<i class="material-icons left">remove_red_eye</i></a>
    </div>
</div>

<div class="row">
    <div class="method-container col s12 m8 l5">
        <h3>Method</h3>
        <p>{{recipe_result.method}}</p>
    </div>
    <div class="col s12 m4 l4">
        <ul class="ingredient-list">
            <h3>Ingredients</h3>
            {% for ingred in ingredients_result %}
            <li>{{ingred.amount}} {{ingred.name[0].upper()}}{{ingred.name[1:]}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="related-recipes-container col s12 m12 l3">
        <h5>{{related_recipe_text}}</h5>
        <div class="card-container">
            {% for related_recipe in related_recipe_result %}
            <a href="{{url_for('recipe', recipe_name=related_recipe.name | replace(" ", "-"), recipe_id=related_recipe.id)}}">
                <div class="card">
                    <div class="card-image">
                        <img class="recipe-image" src="https://s3.eu-west-2.amazonaws.com/recipe-db/static/recipe_images/{{related_recipe.image_file}}" alt="{{related_recipe.name}}">
                    </div>
                    <div class="card-content recipe-title">
                        <p>{% for name in related_recipe.name.split(" ") %}
                        {{name[0].upper() + name[1:]}} {% endfor %}</p>
                    </div>
                    <div class="card-content not-last recipe-info">
                        <p><span class="bold-text">SERVES</span><br>{{related_recipe.serves}}</p>
                    </div>
                    <div class="card-content not-last recipe-info">
                        <p><span class="bold-text">DIFFICULTY</span><br> {{ related_recipe.difficulty[0]|upper}}{{related_recipe.difficulty[1:] }}</p>
                    </div>
                    <div class="card-content recipe-info">
                        <p><span class="bold-text">TIME</span><br>{{related_recipe.time}} Mins</p>
                    </div>
                    <hr>
                    <div class="card-content not-last recipe-info">
                        {% if related_allergy_info[related_recipe.id | string]['is_vegetarian'] %}
                        <p class="active-allergy vegetarian">VEGETARIAN</p>
                        {% else %}
                        <p class="inactive-allergy vegetarian"><strike>VEGETARIAN</strike></p>
                        {% endif %}
                    </div>
                    <div class="card-content not-last recipe-info">
                        {% if related_allergy_info[related_recipe.id | string]['is_vegan'] %}
                        <p class="active-allergy vegan">VEGAN</p>
                        {% else %}
                        <p class="inactive-allergy"><strike>VEGAN</strike></p>
                        {% endif %}
                    </div>
                    <div class="card-content recipe-info">
                        {% if related_allergy_info[related_recipe.id | string]['is_gluten_free'] %}
                        <p class="active-allergy gluten-free">GLUTEN FREE</p>
                        {% else %}
                        <p class="inactive-allergy"><strike>GLUTEN FREE</strike></p>
                        {% endif %}
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>


{% if user %} {% if user.id == recipe_result.user_id %}
<div class="fixed-action-btn">
    <a class="btn-floating btn-large">
    <i class="large material-icons recipe-blue">build</i>
  </a>
    <ul>
        <li><a href="#delete-modal" class="btn-floating modal-trigger"><i class="material-icons recipe-red">delete_forever</i></a></li>
        <li><a href="{{url_for('update_recipe_info', recipe_id=recipe_result.id)}}" class="btn-floating"><i class="material-icons recipe-green">edit</i></a></li>
    </ul>
</div>
{% endif %} {% endif %}

<div id="delete-modal" class="modal">
    <div class="modal-content">
        <h4>Delete Recipe</h4>
        <p>Are you sure you wish to delete {% for name in recipe_result.name.split(" ")%} {{name[0].upper() + name[1:]}} {% endfor %}? This is a permenant action and cannot be reversed.</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close btn-flat">Cancel</a>
        <a href="{{url_for('delete_recipe', recipe_id=recipe_result.id)}}" class="modal-close btn-flat">Delete</a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.0.4/wNumb.min.js'></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/13.1.1/nouislider.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>

{% endblock %}
