{% extends 'base.html' %} {% block content %}

<h1 class="add-recipe-title">Add a Recipe</h1>

<div class="container stage-tracker">
    <a href="{{url_for('add_recipe_info')}}" class="btn-floating"><i class="material-icons">local_dining</i></a>
    <a href="{{url_for('add_recipe_ingredients')}}" class="btn-floating"><i class="material-icons">local_grocery_store</i></a>
    <a class="btn-floating disabled"><i class="material-icons">add</i></a>
</div>
<div class="container stage-tracker">
    <p>Recipe Info</p>
    <p>Ingredients</p>
    <p>Submit</p>
</div>


<div class="container form-container add-ingredient-container">
    <div class="add-ingredient-list">
        <form class="ingredient-form" method="POST" enctype="multipart/form-data">
            {% if "added_recipe_ingredients" in session %} {% for ingredient in session["added_recipe_ingredients"] %} {%set ingredients = session["added_recipe_ingredients"]%} {% if loop.index0 == 0 %}
            <div class="ingredient-inputs example-ingredient">
                {% else %}
                <div class="ingredient-inputs">
                    {% endif %}

                    <h6>Ingredient</h6>
                    <div class="row">
                        <div class="col s4">
                            <div class="input-field">
                                <input placeholder="0.5" value="{{ingredients[loop.index0|string]['amount']}}" required name="amount" id="amount_1" type="text" class="validate">
                                <label>Amount</label>
                            </div>
                        </div>
                        <div class="col s4">
                            <div class="input-field">
                                <input placeholder="KG" value="{{ingredients[loop.index0|string]['unit']}}" name="unit" id="unit_1" type="text" class="validate">
                                <label>Unit</label>
                            </div>
                        </div>
                        <div class="col s4">
                            <div class="input-field">
                                <input placeholder="Rice" value="{{ingredients[loop.index0|string]['ingred']}}" required name="ingredient" id="ingredient_1" type="text" class="validate">
                                <label>Ingredient</label>
                            </div>
                        </div>
                    </div>

                    <div class="row ingredient-allergy-info">
                        <div class="col m12 s7">
                            <div class="row">
                                <div class="col m4 s12">
                                    <label>
                                <!--When adding new row, name needs to increment-->
                                <input type="checkbox" name="vegetarian-{{loop.index0}}" value="vegetarian" class="filled-in vegetarian" {% if ingredients[loop.index0|string]['is_vegetarian']%}checked{%endif%}/>
                                <span>Vegetarian</span>
                            </label>
                                </div>
                                <div class="col m4 s12">
                                    <label>
                                <input type="checkbox" name="vegan-{{loop.index0}}" value="vegan" class="filled-in vegan" {% if ingredients[loop.index0|string]['is_vegan']%}checked{%endif%}/>
                            <span>Vegan</span>
                            </label>
                                </div>
                                <div class="col m4 s12">
                                    <label>
                                <input type="checkbox" name="gluten-free-{{loop.index0}}" value="gluten-free" class="filled-in gluten-free" {% if ingredients[loop.index0|string]['is_gluten_free']%}checked{%endif%}/>
                                <span>Gluten Free</span>
                            </label>
                                </div>
                            </div>
                        </div>
                        {% if loop.index0 > 1 %}
                        <div class="col m12 s5">
                            <a class="btn-floating right delete-recipe"><i class="material-icons">delete_forever</i></a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %} {% else %}
                <div class="ingredient-inputs example-ingredient">
                    <h6>Ingredient</h6>
                    <div class="row">
                        <div class="col s4">
                            <div class="input-field">
                                <input placeholder="0.5" required name="amount" id="amount_1" type="text" class="validate">
                                <label>Amount</label>
                            </div>
                        </div>
                        <div class="col s4">
                            <div class="input-field">
                                <input placeholder="KG" name="unit" id="unit_1" type="text" class="validate">
                                <label>Unit</label>
                            </div>
                        </div>
                        <div class="col s4">
                            <div class="input-field">
                                <input placeholder="Rice" required name="ingredient" id="ingredient_1" type="text" class="validate">
                                <label>Ingredient</label>
                            </div>
                        </div>
                    </div>

                    <div class="row ingredient-allergy-info">
                        <div class="col m12 s7">
                            <div class="row">
                                <div class="col m4 s12">
                                    <label>
                                <!--When adding new row, name needs to increment-->
                                <input type="checkbox" name="vegetarian-0" value="vegetarian" class="filled-in vegetarian"/>
                                <span>Vegetarian</span>
                            </label>
                                </div>
                                <div class="col m4 s12">
                                    <label>
                                <input type="checkbox" name="vegan-0" value="vegan" class="filled-in vegan" />
                            <span>Vegan</span>
                            </label>
                                </div>
                                <div class="col m4 s12">
                                    <label>
                                <input type="checkbox" name="gluten-free-0" value="gluten-free" class="filled-in gluten-free" />
                                <span>Gluten Free</span>
                            </label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="ingredient-inputs">
                    <h6>Ingredient</h6>
                    <div class="row">
                        <div class="col s4">
                            <div class="input-field">
                                <input placeholder="0.5" required name="amount" id="amount_1" type="text" class="validate">
                                <label>Amount</label>
                            </div>
                        </div>
                        <div class="col s4">
                            <div class="input-field">
                                <input placeholder="KG" name="unit" id="unit_1" type="text" class="validate">
                                <label>Unit</label>
                            </div>
                        </div>
                        <div class="col s4">
                            <div class="input-field">
                                <input placeholder="Rice" required name="ingredient" id="ingredient_1" type="text" class="validate">
                                <label>Ingredient</label>
                            </div>
                        </div>
                    </div>

                    <div class="row ingredient-allergy-info">
                        <div class="col m12 s7">
                            <div class="row">
                                <div class="col m4 s12">
                                    <label>
                                <!--When adding new row, name needs to increment-->
                                <input type="checkbox" name="vegetarian-1" value="vegetarian" class="filled-in vegetarian"/>
                                <span>Vegetarian</span>
                            </label>
                                </div>
                                <div class="col m4 s12">
                                    <label>
                                <input type="checkbox" name="vegan-1" value="vegan" class="filled-in vegan" />
                            <span>Vegan</span>
                            </label>
                                </div>
                                <div class="col m4 s12">
                                    <label>
                                <input type="checkbox" name="gluten-free-1" value="gluten-free" class="filled-in gluten-free" />
                                <span>Gluten Free</span>
                            </label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                {% endif %}
            </div>
            <a class="right add-recipe btn-floating"><i class="material-icons">add</i></a>


            <button class="btn">Submit</button>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.0.4/wNumb.min.js'></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/13.1.1/nouislider.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>

{% endblock %}
