{% extends 'base.html' %} {% block content %}


<div class="recipe-header">
    <img class="recipe-image" src="https://s3.eu-west-2.amazonaws.com/recipe-db/static/recipe_images/{{added_recipe['image_file_url']}}" alt="{{added_recipe['name']}}"></img>
    <h2 class="bottom-left">{% for name in added_recipe['name'].split(" ") %} {{name[0].upper() + name[1:]}} {% endfor %}</h2>
</div>

<div class="recipe-page-info row">
    <div class="card col m8 s12">
        <div class="card-content not-last recipe-info">
            <p><span class="bold-text">SERVES</span><br>{{added_recipe['serves']}}</p>
        </div>
        <div class="card-content not-last recipe-info">
            <p><span class="bold-text">DIFFICULTY</span><br>{{added_recipe['difficulty'][0]|upper}}{{added_recipe['difficulty'][1:]}}</p>
        </div>
        <div class="card-content recipe-info">
            <p><span class="bold-text">TIME</span><br>{{added_recipe['time']}} Mins</p>
        </div>
        <hr>
        <div class="card-content not-last recipe-info">
            {% if allergy_info['is_vegetarian'] %}
            <p class="active-allergy vegetarian">VEGETARIAN</p>
            {% else %}
            <p class="inactive-allergy"><strike>VEGETARIAN</strike></p>
            {% endif %}
        </div>
        <div class="card-content not-last recipe-info">
            {% if allergy_info['is_vegan'] %}
            <p class="active-allergy vegan">VEGAN</p>
            {% else %}
            <p class="inactive-allergy"><strike>VEGAN</strike></p>
            {% endif %}
        </div>
        <div class="card-content recipe-info">
            {% if allergy_info['is_gluten_free'] %}
            <p class="active-allergy gluten-free">GLUTEN FREE</p>
            {% else %}
            <p class="inactive-allergy"><strike>GLUTEN FREE</strike></p>
            {% endif %}
        </div>
    </div>
    <div class="view-counter-container col m4 s12">
        <a class="btn view-count">0<i class="material-icons left">remove_red_eye</i></a>
    </div>
</div>

<div class="row">
    <div class="method-container col s12 m8">
        <h3>Method</h3>
        <p>{{added_recipe['method']}}</p>
    </div>
    <div class="col s12 m4">
        <ul class="ingredient-list">
            <h3>Ingredients</h3>
            {% for k, ingred in added_recipe_ingredients.items() %}
            <li>{{ingred["amount"]}} 
            {{ingred["ingred"][0]|upper}}{{ingred["ingred"][1:]}}</li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="fixed-message">
    <p>This is a preview of your added recipe. If everything looks good, click submit</p>
    <div class="fixed-message-options">
    <a href="{{url_for('add_recipe_ingredients')}}"><p class="underline">GO BACK</p></a>
    <form method="POST" enctype="multipart/form-data">
        <button class="btn">SUBMIT</button>
    </form>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.0.4/wNumb.min.js'></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/13.1.1/nouislider.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>


{% endblock %}
